# Godot specific ignores
.godot/
.import/
.mono/
Exclude/

# macOS
.DS_Store

# IDE Specific ignores
.idea/
.vs/
.vscode/
*DotSettings.user
/.cr/personal/FavoritesList

# Export releases
Export/Windows (x64)/
Export/Windows (x32)/
Export/Windows (ARM64)/
Export/macOS (Universal)/
Export/Linux (x64)/
Export/Linux (x32)/
Export/Linux (ARM64)/
Export/iOS/
Export/Android/

# Secret songs for testing
Songs/SecretSongs/
