[submodule "addons/sprite_importer"]
	path = addons/sprite_importer
	url = https://github.com/legole0/Godot-Sprite-Importer.git
[submodule "addons/rubichart_converter"]
	path = addons/rubichart_converter
	url = https://github.com/RubiconTeam/rubichart_converter.git
[submodule "addons/Rubicon.Core"]
	path = addons/Rubicon.Core
	url = https://github.com/RubiconTeam/Rubicon.Core.git
[submodule "addons/PukiTools.GodotSharp"]
	path = addons/PukiTools.GodotSharp
	url = https://github.com/Binpuki/PukiTools.GodotSharp
[submodule "addons/Rubicon.Core.Rulesets.Mania"]
	path = addons/Rubicon.Core.Rulesets.Mania
	url = https://github.com/RubiconTeam/Rubicon.Core.Rulesets.Mania.git
