# Godot specific ignores
.godot/
.import/
.mono/
[Ee]xclude/

# macOS
.DS_Store

# IDE Specific ignores
.idea/
.vs/
.vscode/
*DotSettings.user
/.cr/personal/FavoritesList

# Export releases
[Ee]xport/Windows (x64)/
[Ee]xport/Windows (x32)/
[Ee]xport/Windows (ARM64)/
[Ee]xport/macOS (Universal)/
[Ee]xport/Linux (x64)/
[Ee]xport/Linux (x32)/
[Ee]xport/Linux (ARM64)/
[Ee]xport/iOS/
[Ee]xport/Android/

# Secret songs for testing
[Ss]ongs/SecretSongs/
[Ss]ongs/secret_songs/
